@import "./helper/mixin.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
