@import "../../../helper/colors.scss";
@import "../../../helper/mixin.scss";

.container {
  min-height: 90vh;
  display: flex;
  position: relative;

  @include respond(tab-land) {
    min-height: 90vh;
  }
  @include respond(tab-port) {
    min-height: 75vh;
  }
  @include respond(tab-phone-2) {
    min-height: 70vh;
  }
  @include respond(phone-1) {
    min-height: 60vh;
  }
  @include respond(phone-2) {
    min-height: 50vh;
  }
}

.photo {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include respond(phone-1) {
    width: 45%;
  }
  @include respond(phone-2) {
    width: 0;
  }

  &::before {
    content: "";
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1rem solid white;
    border-right: 0;
    z-index: -1;

    @include respond(tab-land) {
      border: 0.7rem solid white;
      border-right: 0;
    }
    @include respond(tab-phone-1) {
      border: none;
    }
  }
  &::after {
    content: "";
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    border: 1rem solid black;
    border-left: 0;
    z-index: -1;

    @include respond(tab-land) {
      border: 0.7rem solid black;
      border-left: 0;
    }
    @include respond(tab-phone-1) {
      border: none;
    }
  }

  img {
    width: 100%;
    height: auto;

    text-align: center;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem 1rem;

  @include respond(phone-2) {
    width: 100%;
    margin: 0;
  }
}

/*********************** Left Box ***********************/
.LeftContentPlacementLeft {
  width: 50%;
  text-align: center;

  @include respond(phone-1) {
    width: 60%;
  }
  @include respond(phone-2) {
    width: 100%;
  }
}
.LeftContentPlacementRight {
  width: 50%;

  @include respond(phone-1) {
    width: 40%;
  }
  @include respond(phone-2) {
    width: 0%;
  }
}

.leftBox {
  background-image: linear-gradient(
      to right bottom,
      rgba(7, 7, 7, 0.8),
      rgba(0, 0, 0, 0.103)
    ),
    url("../../../img/GamingLeft_1.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: $color-0;
  }

  &__heading {
    font-size: 6rem;
    font-weight: 500;

    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(tab-phone-1) {
      font-size: 4rem;
    }
    @include respond(tab-phone-2) {
      font-size: 3rem;
    }
    @include respond(phone-2) {
      font-size: 3rem;
    }
    @include respond(phone-3) {
      font-size: 2.5rem;
    }
  }

  &__para {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;

    @include respond(tab-land) {
      font-size: 1.8rem;
    }
    @include respond(tab-phone-2) {
      font-size: 1.6rem;
    }
    @include respond(phone-1) {
      line-height: 2rem;
    }
    @include respond(phone-2) {
      line-height: 2.5rem;
    }
    @include respond(phone-3) {
      font-size: 1.3rem;
    }
  }
}

/*********************** Right Box ***********************/
.RightContentPlacementLeft {
  width: 50%;

  @include respond(phone-1) {
    width: 40%;
  }
  @include respond(phone-2) {
    width: 0%;
  }
}

.RightContentPlacementRight {
  width: 50%;
  text-align: center;

  @include respond(phone-1) {
    width: 60%;
  }
  @include respond(phone-2) {
    width: 100%;
  }
}

.rightBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  P {
    color: $color-1;
  }

  &__heading {
    font-size: 7rem;
    font-weight: 500;

    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(tab-phone-1) {
      font-size: 4rem;
    }
    @include respond(tab-phone-2) {
      font-size: 3rem;
    }
    @include respond(phone-2) {
      font-size: 3rem;
    }
    @include respond(phone-3) {
      font-size: 2.5rem;
    }
  }

  &__para {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;

    @include respond(tab-land) {
      font-size: 1.8rem;
    }
    @include respond(tab-phone-2) {
      font-size: 1.6rem;
    }
    @include respond(phone-1) {
      line-height: 2rem;
    }
    @include respond(phone-2) {
      line-height: 2.5rem;
    }
    @include respond(phone-3) {
      font-size: 1.3rem;
    }
  }
}
